table{
  font-size: 14px;
  width: 250px;
}
#common {
  background-color: gray
}

#non-common {
  background-color: violet;
}

#unique {
  background-color: #ffd400;
}

#rare {
  background-color: purple;
}

#legendary {
  background-color: #f00000;
}

#hidden {
  background-color: #a00000;
}

#transcendence {
  background-color: aqua;
}

button {
  border-radius: 5px;
  padding: 3px 10px;
}

